$base: #0A1F38;
$base-middle: #1B2F46;
$base-light: #2F4056;

$accent: #A5BB0C;
$accent-dark: #819400;
$accent-middle: #97AB0D;
$accent-light: #B1C909;

$gray: #9DA5AF;
$white: #FFFFFF;

$error: #FF7461;

$indent-xs: 4px;
$indent-s: 8px;
$indent-xm: 12px;
$indent-m: 16px;
$indent-l: 20px;
$indent-xl: 24px;
$indent-2xl: 40px;
$indent-4xl: 80px;

$border-radius-s: 12px;
$border-radius-xm: 32px;
$border-radius-m: 36px;
$border-radius-l: 40px;

$desktop: 1920px;
$laptop: 1366px;
$tablet: 768px;
$mobile: 360px;